<!-- container section start -->
  <section id="container" class="">


    <header class="header dark-bg">
      <div class="toggle-nav">
        <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
      </div>

      <!--logo start-->
      <a href="" class="logo">instr<span class="lite">Tool</span></a>

      <!--logo end-->
      <div class="top-nav notification-row">
        <!-- notificatoin dropdown start-->
        <ul class="nav pull-right top-menu">
          <!-- user login dropdown start-->
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <span class="username">{{instructorName}}</span>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu extended logout">
              <div class="log-arrow-up"></div>
              <li class="eborder-top">
                <a><i class="icon_profile"></i>Profiel</a> <!-- routerLink="#" -->
              </li>
              <li>
                <a routerLink="/login"><i class="icon_key_alt"></i>Log Uit</a>
              </li>
            </ul>
          </li>
          <!-- user login dropdown end -->
        </ul>
        <!-- notificatoin dropdown end-->
      </div>
    </header>
    <!--header end-->

    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
          <li>
            <form class=dateBar action="/search">
              <p>Datum:<p>
              <input class="dateField dateInput" type="date" min="2010-01-02">
            </form>
            <button routerLink="/search/{{date}}" class="dateField btn btn-primary">Ga</button>
          </li>
          <li routerLinkActive="active">
            <a class="" routerLink="/">
                <span>Overzicht</span>
            </a>
          </li>
          <li routerLinkActive="active">
            <a class="" routerLink="/edit">
                <i class="fa fa-pencil-square" aria-hidden="true"></i><span>Nieuw Verslag</span>
            </a>
          </li>
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->

    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <!--overview start-->
        <div class="row">
          <div class="col-lg-12">
          </div>
        </div>

        <div class="row">

        </div>
        <!--/.row-->
        <div class="row">
          <div class="col-lg-8 col-md-12">
                <router-outlet></router-outlet>
          </div>
        </div>

      </section>
      <div class="text-right">
        <div class="credits">
          <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version form: https://bootstrapmade.com/buy/?theme=NiceAdmin
          -->
          <a href="https://bootstrapmade.com/">Free Bootstrap Templates</a> by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </section>
    <!--main content end-->
  </section>
  <!-- container section start -->
