<!-- hidden button is triggered by login.typescript.ts -->
<button id="openModal" #openModal [hidden]="true"  data-toggle="modal" data-target="#myModal"></button>
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Login</h4>
        </div>
        <div class="modal-body">
						<div class="wrapper">
									<h3 class="form-signin-heading">Welcome Back! Please Sign In</h3>
									<hr class="colorgraph"><br>

									<input required type="text" class="form-control" name="Username" placeholder="Username" required="" autofocus="" />
									<input required type="password" class="form-control" name="Password" placeholder="Password" required=""/>

									<button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit">Login</button>
						</div>
        </div>
        <div class="modal-footer">
        </div>
      </div>

    </div>
  </div>
